---
layout: default
---


<div>

  <form action="{{ site.github.url }}/search/" method="get">
  <label for="search-box">Search</label>
  <input type="text" id="search-box" name="query">
  <input type="submit" value="search">
</form>

<ul id="search-results"></ul>

{% assign pagelist = site.html_pages %}

<script>

  window.store = {
    {% for page in site.html_pages %}
      {% if page.dir != "{{ site.github.url }}/Content/Fields" and page.name != "search.html" %}
        "{{ page.url | slugify }}": {
          "title": "{{ page.title | xml_escape }}",
          "content": {{ page.content | strip_html | strip_newlines | jsonify }},
          "url": "{{ site.github.url }}{{ page.url | xml_escape }}"
        }
        {% unless forloop.last %},{% endunless %}
      {% endif %}
    {% endfor %}
  };
</script>

<script src="{{ site.github.url }}/js/lunr.min.js"></script>
<script src="{{ site.github.url }}/js/search.js"></script>
</div>
