{% assign toc = site.data.toc.en.one-toc %}
{% assign thispage = page.url %}



<div class="sidebar">
    <a href="{{ site.github.url }}/index.html"><img src="{{ site.github.url }}/img/logo_white.png"/></a>
    <div class="container sidebar-sticky">
        <div class="sidebar-about">


             <ul id="mysidebar" class="nav">
  {% for link in toc %}
    {% assign thisurl = link.url %}
    <li{% if thispage == thisurl %} class="toc-level1"{% endif %}><a href="{{ site.github.url }}{{ link.url }}">{{ link.title }}</a></li>
      <ul class="toc-L2">
      {% for sublink in link.submenu %}
        {% assign thisurl = sublink.url %}
        <li{% if thispage == thisurl %}class="toc-level2"{% endif %}><a href="{{ site.github.url }}{{ sublink.url }}">{{ sublink.title }}</a></li>
          <ul class="toc-L3">
          {% for subsublink in sublink.submenu %}
            {% assign thisurl = subsublink.url %}
            <li{% if thispage == thisurl %} class="toc-level3"{% endif %}><a href="{{ site.github.url }}{{ subsublink.url }}">{{ subsublink.title }}</a></li>
          {% endfor %}<!-- subsublink in sublink.submenu -->
          </ul>
      {% endfor %} <!-- thispage == thisurl and sublink -->
      </ul>
  {% endfor %} <!-- /for link in toc -->
  </ul>
    </div>
</div>
